# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# === Виртуальная среда ===
venv/
env/
.venv/
ENV/
.env/

# Build artifacts
/dist/
/build/
*.spec
pdf_attachments_ui.spec

# IDE / Editor
.idea/
.vscode/
*.swp

# === Папка для тестов ===
Test/